.login {
    background-color: #fefefe;
    text-align: center;
    width: 20%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #888;
  }

  label {
    text-align: center;
  }

  /* Full-width inputs */
input[type=text], input[type=password] {
    width: 75%;
    
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }